body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #2874f0;
    display: flex;
    justify-content: center;
}
.navbar{
    background-color: #2874f0;
    display: flex;
    align-items: center;
    width: auto;
    height: 56px;
    padding: 7px;
}
.navbar .logo{
    display:flex ;
    flex-direction: column;
}

.navbar .logo img{
    width: auto;
    height: 20px;

}

.navbar .logo .explore a{
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    color: white;
}

.navbar .logo .explore a span{
    color: burlywood;
}

.navbar .logo .explore img{
    height: 15px;
}



.navbar .search{
    display: flex;
    margin-left: 10px;
    width: 500px;
    background-color: white;
    height: 35px;
}

.navbar .search input{
    padding: 7px;
    border: 0;
    outline: none;
    width: 420px;
    background-color: white;
    font-size: 14px;

}

.navbar .search button {
    background-color: white;
    border: 0;  
    margin: 7px 0 0 7px;
    margin-left: 30px;
}


.navbar .login{
    margin-left: 30px;
}

.navbar .login button{
    background-color: white;
    padding: 7px 40px;
    border: 0;
    outline: none;
}

.navbar .login button a{
    text-decoration: none;
    color: #2874f0;
    font-weight: 800;
    font-size: 16px;
}

.navbar .nav_link ul{
    display: flex;
    list-style: none;
}

.navbar .nav_link ul li{
    
    margin-left: 30px;
}

.navbar .nav_link ul li .samecolor{
    margin-left: 20px;
    text-decoration: none;
    color: white;

}


.nav_link ul li a .dropdown .linkmore{
    padding: 7px 40px;
    background: transparent;
}


  
  .dropdown-content {
    /* margin: 25px 0 0 -80px; */
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown .dropdown-content a span{
    color: black;
  }

  .dropdown .dropdown-content a .icon_color{
    margin-right: 10px;
    color: #2874f0;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}



  .navbar .cart a{
    margin-left: 60px;
    color: white;
    text-decoration: none;
  }

  .dropdown .samecolor:hover .angle , .dropdown .dropdown-content .samehover:hover .angle{
    transform: rotate(180deg);
  }

 